* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(#b1b1cc, #4b86d3);
}

.container {
  border:  2px solid  rgba(48, 50, 165, 0.4);
}

.comisions{
  padding: 15px;
  font-weight: bolder;
  color: #fff;
  font-size: 14px;
  table-layout: fixed;
  border-collapse: collapse;
}

table {
  color: #fff;
  font-size: 14px;
  table-layout: fixed;
  border-collapse: collapse;
}

thead {
  background: rgba(48, 50, 165, 0.4);
}

th {
  padding: 20px 15px ;
  font-weight: 700;
  
  text-transform: uppercase;
}

td{
  padding: 15px;
  text-align: center;
}

td:not(:last-child) {
  
  border-right:  1px solid  rgba(48, 50, 165, 0.4);
  /* border-bottom: solid 2px rgba(29, 6, 161, 0.61); */
}


tbody tr {
  cursor: pointer;
}

tbody tr:hover {
  background: rgba(40, 43, 224, 0.4);
}